#app {
    background: lighten(#2C2828, 10%);
    height: 100vh;

    header {
        background: #f5f5f5;
        box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
    }

    .room-number {
        margin: 0 auto;
        width: 70%;
        text-align: center;
        padding: 10%;
        h1 {
            font-size: 120px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 900;
        }
        p {
            font-size: 12px;
            color: #fff;
            font-family: sans-serif;
        }
    }

    .footer {
        box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
        width: 100%;
        height: 200px;
        background: #f5f5f5;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;

        .time {
            width: 50%;
            ul {
                list-style-type: none;
            }
        }
        .classes {
            width: 50%;
            ul {
                list-style-type: none;
            }
        }
    }
}
